<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Smoke Tests" parallel="methods" thread-count="4" verbose="4">
    <test name="Parallel Tests">
        <classes>
            <class name="hackathon.epam.selfcoop.runners.TestRunner"/>
        </classes>
    </test>
</suite>